<h1>Baby Book</h1>
<table border="0">
	<tr>
		<td>Name</td>
		<td>Years</td>
		<td>Birthday</td>
	</tr>
	<% @bpook.each do |p| %>
	<tr>
		<td><%= p.name %></td>
		<td><%= p.years %></td>
		<td><%= p.birthday %></td>
		<td>
			<%= link_to "edit", :action => "modify", :id => p %>/
			<%= link_to "del", :action => "del", :id => p %>
		</td>
	</tr>
	<%end%>
</table>
<p><%= link_to "add new baby detal" ,baby_newbaby_path%></p>
