<h1>Modify the baby Detal</h1>
<%= form_for @bpook, :url => {:controller => "baby", :action => "updateing", :id => @bpook }, :html => {:method =>:put} do |f| %>
<div class="field">
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</div>
<div class="text_field">
	<%= f.label :years %><br>
	<%= f.text_field :years %>
</div>
<div class="field">
	<%= f.label :birthday %><br>
	<%= f.text_field :birthday %>
</div>
<div class="field">
	<%= f.label :picture %><br>
	<%= f.file_field :picture %>
</div>
<div>
	<%= f.submit %>
</div>
<% end %>
<p><%= link_to 'Back', baby_index_path %></p>